@import "../../styles/mixins";

.logo-link {
  display: flex;
}

.white-logo {
  width: 9.5rem;
}
@media (max-width: 768px) {
  .black-logo {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .black-logo {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .logo-link {
    justify-content: flex-start;
  }
}
@media (min-width: 576px) {
  .logo-link {
    justify-content: center;
  }
}
