@import "../../styles/colors";
@import "../../styles/mixins";

.header-top {
  padding: 3.25rem 0 1.25rem;
  border-bottom: 1px solid $border;

  &-content {
    @include flex(row, flex-start, space-between);

    .header-top-right-menu {
      @include flex(row, center, center, auto);

      .search-icon {
        cursor: pointer;
        margin-right: 0.7rem;
        fill: $text;
        transition: all 0.3s ease;

        &:hover,
        &:active {
          fill: $date;
        }
      }
      .burger-menu-wrapper {
        cursor: pointer;
      }
    }
  }
}
.header-nav {
  @include flex(row, center, center);

  &-link {
    padding: 1rem;
    font-size: 0.75rem;
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $text;
    transition: all 0.3s ease;

    &:hover,
    &:active {
      color: $date;
    }
  }
}
@media (max-width: 768px) {
  .header-nav {
    display: none;
  }
}
@media (min-width: 768px) {
  .header-nav {
    display: flex;
  }
}
@media (max-width: 576px) {
  .soc-icons-wrappper {
    display: none;
  }
}
@media (min-width: 576px) {
  .soc-icons-wrappper {
    display: flex;
  }
}
@media (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}
